*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 60px;
}

header h1{
    font-size:42px;
    font-weight:bold;
}

/* MENU */

.menu-btn{
    position:fixed;
    top:25px;
    right:25px;
    background:none;
    border:none;
    color:white;
    font-size:35px;
    cursor:pointer;
    z-index:1001;
}

.menu{
    position:fixed;
    top:0;
    left:-280px;
    width:280px;
    height:100vh;
    background-color:#111;
    transition:0.3s;
    z-index:1000;
    padding-top:80px;
}

.menu.active{
    left:0;
}

.menu ul{
    list-style:none;
}

.menu li{
    padding:20px 30px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:22px;
    transition:0.3s;
}

.menu a:hover{
    color:#00d4ff;
    padding-left:10px;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.hero img{
    width:320px;
    max-width:90%;
    border-radius:20px;
    margin-bottom:40px;
    border:3px solid white;
}

.hero h2{
    font-size:70px;
    margin-bottom:20px;
    font-weight:bold;
}

.hero p{
    color:#bdbdbd;
    font-size:24px;
    line-height:1.7;
    margin-bottom:20px;
    max-width:900px;
}

/* FULLSTACK */

.fullstack{
    padding:100px 20px;
    text-align:center;
}

.fullstack h2{
    font-size:70px;
    margin-bottom:40px;
    font-weight:bold;
}

.fullstack p{
    color:#bdbdbd;
    font-size:24px;
    line-height:1.8;
    max-width:900px;
    margin:auto;
}

/* RESPONSIVO */

@media(max-width:768px){

    header{
        padding:20px;
    }

    header h1{
        font-size:28px;
    }

    .hero h2{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
        padding:0 15px;
    }

    .fullstack h2{
        font-size:40px;
    }

    .fullstack p{
        font-size:18px;
    }

    .menu-btn{
        font-size:30px;
    }
}

.menu-btn{
    display:block !important;
    position:fixed !important;
    top:20px !important;
    right:20px !important;
    background:red !important;
    color:white !important;
    border:2px solid yellow !important;
    padding:10px !important;
    font-size:30px !important;
    z-index:9999 !important;
}